ion-buttons {
    justify-content: space-around;
}

mat-form-field {
    width: 100%;
    padding: 5px 3px;

    ::ng-deep {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }
}